Reading/*
Samples/*

Proposal/*.png
Report/*.png

*.aux
*.bbl
*.blg
*.log
*.out
*.gz
*.fls
*.fdb_latexmk

.vscode
yarn.lock
node_modules/

noteimg*.*

LiteratureMap.txt
Notes.txt
comp5209-projectproposal-2018f.pdf