Reading/*
Samples/*

Proposal/*.png
Proposal/*.aux
Proposal/*.bbl
Proposal/*.blg
Proposal/*.log
Proposal/*.out
Proposal/*.gz

.vscode
yarn.lock
node_modules/

LiteratureMap.txt
Notes.txt
comp5209-projectproposal-2018f.pdf