/* Temp styles for development */

.tree-display-panel { background: lightsteelblue; }
.rule-text { background: aquamarine; }
.A { background: lightcoral; }
.B { background: lemonchiffon; }
.C { background: slateblue; }
.D { background: rosybrown; }


/* Page styles */

.tree-display-panel
{
	max-width: 50%;
	overflow: auto;
}

.tree-wrapper
{
	overflow: auto;
}

/* General tree styles */

.node
{
	display: flex;
	justify-content: center;
	border-top: 1px solid black;
}

.leaf
{
	display: flex;
	justify-content: center;
	white-space: nowrap;
}

.tree
{
	margin: 20px;
}

.rule-text
{
	display: flex;
	align-items: center;
	white-space: nowrap;
}

.rule-left
{
	justify-content: flex-end;
}



/******************************
 Specific tree styles 
******************************/

/* Tree: zero children */

.tree_zero-child
{
	display: grid;
	grid-template: repeat(4, 1fr) / repeat(3, min-content);
}


.tree_zero-child_A_left
{
	grid-area: 2 / 1 / span 2;
}

.tree_zero-child_A
{
	grid-area: 3 / 2 / span 2;
}

.tree_zero-child_A_right
{
	grid-area: 2 / 3 / span 2;
}



/* Tree: one child */

.tree_one-child
{
	display: grid;
	grid-template: repeat(4, 1fr) / repeat(3, min-content);
}


.tree_one-child_A_left
{
	grid-area: 2 / 1 / span 2;
}

.tree_one-child_A
{
	grid-area: 3 / 2 / span 2;
}

.tree_one-child_A_right
{
	grid-area: 2 / 3 / span 2;
}


.tree_one-child_B
{
	grid-area: 1 / 2 / span 2;
}



/* Tree: two children */

.tree_two-child
{
	display: grid;
	grid-template: repeat(4, 1fr) / repeat(2, min-content) 50px repeat(2, min-content);
}


.tree_two-child_A_left
{
	grid-area: 2 / 1 / span 2;
}

.tree_two-child_A_right
{
	grid-area: 2 / 5 / span 2;
}

.tree_two-child_A
{
	grid-area: 3 / 2 / span 2 / span 3;
}


.tree_two-child_B
{
	grid-area: 1 / 2 / span 2;
}


.tree_two-child_C
{
	grid-area: 1 / 4 / span 2;
}



/* Tree: three children */

.tree_three-child
{
	display: grid;
	grid-template: repeat(4, 25%) / repeat(2, min-content) 50px min-content 50px repeat(2, min-content);
}


.tree_three-child_A_left
{
	grid-area: 2 / 1 / span 2;
}

.tree_three-child_A_right
{
	grid-area: 2 / 7 / span 2;
}

.tree_three-child_A
{
	grid-area: 3 / 2 / span 2 / span 5;
}


.tree_three-child_B
{
	grid-area: 1 / 2 / span 2;
}


.tree_three-child_C
{
	grid-area: 1 / 4 / span 2;
}


.tree_three-child_D
{
	grid-area: 1 / 6 / span 2;
}


/* Example trees */

.tree2
{
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(10, 1fr);
}

.tree2_A_left
{
	grid-area: 2 / 3 / span 2;
}

.tree2_A
{
	grid-area: 3 / 4 / span 1 / span 6;
}

.tree2_A_right
{
	grid-area: 2 / 10 / span 2;
}


.tree2_B_left
{
	grid-area: 1 / 1 / span 2;
}

.tree2_B
{
	grid-area: 2 / 2 / span 1 / span 5;
}

.tree2_B_right
{
	grid-area: 1 / 7 / span 2;
}


.tree2_C_left
{
	grid-area: 1 / 8 / span 2;
}

.tree2_C
{
	grid-area: 2 / 9;
}

.tree2_C_right
{
	grid-area: 1 / 10 / span 2;
}


.tree2_D
{
	grid-area: 1 / 2;
}

.tree2_E
{
	grid-area: 1 / 4;
}

.tree2_F
{
	grid-area: 1 / 6;
}

