/* Temp styles for development */

.rule-text { background: aquamarine; }
.tree1_A, .A { background: lightcoral; }
.tree1_B, .B { background: lemonchiffon; }
.tree1_C, .C { background: slateblue; }
.D { background: rosybrown; }


/* General tree styles */

.node
{
	display: flex;
	justify-content: center;
	border-top: 1px solid black;
}

.leaf
{
	display: flex;
	justify-content: center;
}

.tree
{
	margin: 20px;
	
}

.rule-text
{
	display: flex;
	align-items: center;
}

.rule-left
{
	justify-content: flex-end;
}



/* Specific tree styles */

.tree1
{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(4, 1fr);
	/*grid-gap: 10px;*/
	/*grid-auto-rows: minmax(100px, auto);*/
}

.tree1_A_left
{
	grid-area: 2 / 1 / span 2;
}

.tree1_A_right
{
	grid-area: 2 / 5 / span 2;
}

.tree1_A
{
	grid-area: 3 / 2 / span 2 / span 3;
}

.tree1_B
{
	grid-area: 1 / 2 / span 2;
}

.tree1_C
{
	grid-area: 1 / 4 / span 2;
}


.tree2
{
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(10, 1fr);
}

.tree2_A_left
{
	grid-area: 2 / 3 / span 2;
}

.tree2_A
{
	grid-area: 3 / 4 / span 1 / span 6;
}

.tree2_A_right
{
	grid-area: 2 / 10 / span 2;
}


.tree2_B_left
{
	grid-area: 1 / 1 / span 2;
}

.tree2_B
{
	grid-area: 2 / 2 / span 1 / span 5;
}

.tree2_B_right
{
	grid-area: 1 / 7 / span 2;
}


.tree2_C_left
{
	grid-area: 1 / 8 / span 2;
}

.tree2_C
{
	grid-area: 2 / 9;
}

.tree2_C_right
{
	grid-area: 1 / 10 / span 2;
}


.tree2_D
{
	grid-area: 1 / 2;
}

.tree2_E
{
	grid-area: 1 / 4;
}

.tree2_F
{
	grid-area: 1 / 6;
}