/* Temp styles for development */

.tree-display-panel { background: lightsteelblue; }
.rule-text { background: aquamarine; }
.node { background: white; }
.leaf { background: lightgrey }
.A { background: lightcoral; }
.B { background: lemonchiffon; }
.C { background: rgb(136, 138, 248); }
.D { background: rosybrown; }
.E { background: rgb(204, 150, 255) }
.F { background: rgb(85, 163, 228) }


/* Page styles */

.tree-display-panel
{
	/* max-width: 50%; */
	overflow: auto;
}

.tree-wrapper
{
	/* overflow: auto; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}

/* General tree styles */

.node
{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	border-top: 1px solid black;
}

.leaf
{
	display: flex;
	justify-content: center;
	white-space: nowrap;
}

.tree
{
	margin: 20px;
}

.rule-text
{
	display: flex;
	align-items: center;
	white-space: nowrap;
}

.rule-left
{
	justify-content: flex-end;
}



/******************************
 Specific tree styles 
******************************/

/* Tree: zero children */

.tree_zero-child
{
	display: grid;
	grid-template: repeat(4, 1fr) / repeat(3, minmax(50px, min-content));
}


.tree_zero-child_A_left
{
	grid-area: 2 / 1 / span 2;
}

.tree_zero-child_A
{
	grid-area: 3 / 2 / span 2;
}

.tree_zero-child_A_right
{
	grid-area: 2 / 3 / span 2;
}



/* Tree: one child */

.tree_one-child
{
	display: grid;
	grid-template: repeat(4, 1fr) / repeat(3, minmax(50px, min-content));
}


.tree_one-child_A_left
{
	grid-area: 2 / 1 / span 2;
}

.tree_one-child_A
{
	grid-area: 3 / 2 / span 2;
}

.tree_one-child_A_right
{
	grid-area: 2 / 3 / span 2;
}


.tree_one-child_B
{
	grid-area: 1 / 2 / span 2;
}



/* Tree: two children */

.tree_two-child
{
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: repeat(5, minmax(50px, min-content));
}


.tree_two-child_A_left
{
	grid-area: 2 / 1 / span 2;
}

.tree_two-child_A_right
{
	grid-area: 2 / 5 / span 2;
}

.tree_two-child_A
{
	grid-area: 3 / 2 / span 2 / span 3;
}


.tree_two-child_B
{
	grid-area: 1 / 2 / span 2;
}


.tree_two-child_C
{
	grid-area: 1 / 4 / span 2;
}



/* Tree: three children */

.tree_three-child
{
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: repeat(7, minmax(50px, min-content));
}


.tree_three-child_A_left
{
	grid-area: 2 / 1 / span 2;
}

.tree_three-child_A_right
{
	grid-area: 2 / 7 / span 2;
}

.tree_three-child_A
{
	grid-area: 3 / 2 / span 2 / span 5;
}


.tree_three-child_B
{
	grid-area: 1 / 2 / span 2;
}


.tree_three-child_C
{
	grid-area: 1 / 4 / span 2;
}


.tree_three-child_D
{
	grid-area: 1 / 6 / span 2;
}


/* Example trees */

.tree2
{
	display: grid;
	grid-template-rows: repeat(9, 1fr);
	grid-template-columns: repeat(10, minmax(50px, min-content));
}

.tree2_A_left
{
	grid-area: 6 / 3 / span 2;
}

.tree2_A
{
	grid-area: 7 / 4 / span 2 / span 6;
}

.tree2_A_right
{
	grid-area: 6 / 10 / span 2;
}


.tree2_B_left
{
	grid-area: 3 / 1 / span 2;
}

.tree2_B
{
	grid-area: 4 / 2 / span 2 / span 5;
}

.tree2_B_right
{
	grid-area: 3 / 7 / span 2;
}


.tree2_C_left
{
	grid-area: 3 / 8 / span 2;
}

.tree2_C
{
	grid-area: 4 / 9 / span 2;
}

.tree2_C_right
{
	grid-area: 3 / 10 / span 2;
}


.tree2_D
{
	grid-area: 1 / 2 / span 2;
}

.tree2_E
{
	grid-area: 1 / 4 / span 2;
}

.tree2_F
{
	grid-area: 1 / 6 / span 2;
}

/* .tree2_D
{
	grid-area: 2 / 2;
}

.tree2_E
{
	grid-area: 2 / 4;
}

.tree2_F
{
	grid-area: 2 / 6;
} */



.treenest
{
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}

.treenest_A
{
	grid-area: 2 / 1 / span 1 / span 2;
}

.treenest_A_1
{
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}

.treenest_B
{
	grid-area: 2 / 1 / span 1 / span 2;
}

.treenest_C
{
	grid-area: 1 / 2;
}

.treenest_D
{
	grid-area: 1 / 1;
}

.treenest_E
{
	grid-area: 1 / 2;
}