/* General tree styles */

.root
{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	border-top: 1px solid black;
}

.leaf
{
	display: flex;
	justify-content: center;
	white-space: nowrap;
}

.tree
{
	margin: 20px;
}

.rule-text
{
	display: flex;
	align-items: center;
	white-space: nowrap;
}

.side-condition
{
	justify-content: flex-end;
}



/******************************
 Specific tree styles
******************************/

/* Tree: zero children */

.tree_zero-child
{
	display: grid;
	grid-template: repeat(4, 1fr) / repeat(3, minmax(50px, min-content));
}


.tree_zero-child > .side-condition
{
	grid-area: 2 / 1 / span 2;
}

.tree_zero-child > .conclusion
{
	grid-area: 3 / 2 / span 2;
}

.tree_zero-child > .rule-name
{
	grid-area: 2 / 3 / span 2;
}



/* Tree: one child */

.tree_one-child
{
	display: grid;
	grid-template: repeat(4, 1fr) / repeat(3, minmax(50px, min-content));
}


.tree_one-child > .side-condition
{
	grid-area: 2 / 1 / span 2;
}

.tree_one-child > .conclusion
{
	grid-area: 3 / 2 / span 2;
}

.tree_one-child > .rule-name
{
	grid-area: 2 / 3 / span 2;
}


.tree_one-child > .premise1
{
	grid-area: 1 / 2 / span 2;
}



/* Tree: two children */

.tree_two-child
{
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: repeat(5, minmax(50px, min-content));
}


.tree_two-child > .side-condition
{
	grid-area: 2 / 1 / span 2;
}

.tree_two-child > .rule-name
{
	grid-area: 2 / 5 / span 2;
}

.tree_two-child > .conclusion
{
	grid-area: 3 / 2 / span 2 / span 3;
}


.tree_two-child > .premise1
{
	grid-area: 1 / 2 / span 2;
}


.tree_two-child > .premise2
{
	grid-area: 1 / 4 / span 2;
}



/* Tree: three children */

.tree_three-child
{
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: repeat(7, minmax(50px, min-content));
}


.tree_three-child > .side-condition
{
	grid-area: 2 / 1 / span 2;
}

.tree_three-child > .rule-name
{
	grid-area: 2 / 7 / span 2;
}

.tree_three-child > .conclusion
{
	grid-area: 3 / 2 / span 2 / span 5;
}


.tree_three-child > .premise1
{
	grid-area: 1 / 2 / span 2;
}


.tree_three-child > .premise2
{
	grid-area: 1 / 4 / span 2;
}


.tree_three-child > .premise3
{
	grid-area: 1 / 6 / span 2;
}