/* Dev styles */

.header-panel { background: rgb(243, 104, 104); }
.example-selection-panel { background: rgb(245, 243, 144); }
.rule-panel { background: rgb(255, 183, 233); }
.selection-info-panel { background: rgb(104, 104, 219); }
.tree-display-panel { background: rgb(68, 160, 88); }

/* Page styles */

body
{
	margin: 0;
}

.region
{
	padding: 10px;
}

.title
{
	font-size: 1.8em;
	font-weight: bold;
}

.subheader
{
	font-size: 1.3em;
	font-weight: bold;
}

.page-container
{
	display: grid;
	grid-template-rows: 10% 10% 1fr 20%;
	grid-template-columns: 5fr 1fr;
	width: 100%;
	height: 100%;
}

.header-panel
{
	grid-area: 1 / 1 / span 1 / span 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.control-panel
{
	grid-area: 2 / 1 / span 1 / span 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.selection-info-panel
{
	grid-area: 4 / 1 / span 1 / span 2;
}

.tree-display-panel
{
	grid-area: 3 / 1;
}

.rule-panel
{
	grid-area: 3 / 2;
}

.tree-selection-container
{
	padding-top: 10px;
	outline: 1pb solid black;
}

.tree-selection
{
	background: white;
	padding: 10px;
}

.navigation
{
	display: flex;
	flex-direction: row;
}

.btn-backward, .btn-forward
{
	background: lightgrey;
	margin: 0 10px;
	padding: 10px;
	outline: 2px solid black;
	width: 100px;
	display: flex;
	justify-content: center;
}

.example-selection
{
	height: fit-content;
}