/* Dev styles */

/* .header-panel { background: rgb(243, 104, 104); }
.example-selection-panel { background: rgb(245, 243, 144); }
.rule-panel { background: rgb(255, 183, 233); }
.selection-info-panel { background: rgb(104, 104, 219); }
.tree-display-panel { background: rgb(68, 160, 88); } */

/* Fonts */

/* Use:
font-family: 'Lobster Two', cursive;
font-family: 'Slabo 27px', serif;
*/

/* LaTeX teletype font */

@font-face {
	font-family: "Computer Modern Teletype";
	src: url('../fonts/cmuntb-webfont.woff');
	}

@font-face {
	font-family: "Computer Modern Italic";
	src: url('../fonts/cmunci.woff');
	}

/* Page styles */

body
{
	margin: 0;

}

.region
{
	padding: 10px;
}

.title
{
	font-size: 2.5em;
	/* font-weight: bold; */
	font-family: 'Lobster Two', cursive;
}

.subheader
{
	font-size: 1.3em;
	/* font-weight: bold; */
	font-family: 'Slabo 27px', serif;
}

.page-container
{
	display: grid;
	grid-template-rows: 10% min-content 1fr 20%;
	grid-template-columns: 5fr 1fr;
	width: 100%;
	height: 100%;
}

.header-panel
{
	grid-area: 1 / 1 / span 1 / span 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgb(196, 196, 253);
}

.control-panel
{
	grid-area: 2 / 1 / span 1 / span 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.selection-info-panel
{
	grid-area: 4 / 1 / span 1 / span 2;
	outline: 1px solid black;
}

.tree-display-panel
{
	grid-area: 3 / 1;
	background: rgb(196, 196, 253);
}

.rule-panel
{
	grid-area: 3 / 2;
	border-left: 1px solid black;
}

.tree-selection-container
{
	padding-top: 10px;
	outline: 1pb solid black;
}

.navigation
{
	display: flex;
	flex-direction: row;
}

.nav-arrow
{
	height: 30px;
	width: 75px;
}

.btn-backward, .btn-forward
{
	width: 100px;
	display: flex;
	justify-content: center;
}

.example-selection
{
	height: fit-content;
	padding: 5px;
	font-family: "Computer Modern Italic";
}

.note
{
	margin: 10px 0;
}