/* Dev styles */

.tree-svg { background: lightgrey; }

.MathJax
{
	font-size: 30px !important;
}

rect.node
{
	stroke: rgb(105, 105, 105);
	stroke-width: 3px;
	fill: white;
}

rect.node:hover
{
	fill: lightgrey;
}

rect.related-rect
{
	stroke: black;
}

rect.rule-text
{
	stroke: blue;
	stroke-width: 0px;
	fill: none;

}

rect.visited-rect
{
	stroke: darkgrey;
	fill: lightgrey;
}

rect.focus-rect
{
	stroke: red;
	fill: pink;
}

.scroll-container
{
	display: flex;
	align-items: center;
	width: inherit;
	height: inherit;
	overflow: auto;
}

.tree-container
{
	/* scroll-snap-align: center; */
	margin: 0 auto;
}