.node-rect
{
	stroke: green;
	stroke-width: 3px;
	fill: white;
}

.visited-rect
{
	stroke: darkgrey;
	fill: lightgrey;
}

.focus-rect
{
	stroke: red;
	fill: pink;
}

.scroll-container
{
	display: flex;
	align-items: center;
	width: 900px;
	height: 500px;
	background: green;
	overflow: auto;
}

.tree-container
{
	/* scroll-snap-align: center; */
	margin: 0 auto;
}